<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>오늘 뭐 해 먹지?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      id="bodyTable"
    >
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td align="left-top" bgcolor="#f7f0f0" height="40px">
                <img src="cid:<%= locals.logoCid %>" alt="Logo" height="25px" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td align="center" bgcolor="#8cba80">
                <img
                  src="cid:<%= locals.emailIconCid %>"
                  alt="이메일 인증 메일"
                  width="180px"
                  height="180px"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td align="center" bgcolor="#f7f0f0" height="60px">
                <img
                  src="cid:<%= locals.mailHeaderCid %>"
                  alt="이메일을 인증해 주세요."
                  width="90%"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#f7f0f0"
                height="5px"
                width="35%"
              ></td>
              <td
                align="center"
                bgcolor="#212529"
                height="5px"
                width="30%"
              ></td>
              <td
                align="center"
                bgcolor="#f7f0f0"
                height="5px"
                width="35%"
              ></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
            height="10px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#f7f0f0"
                style="
                  font-size: 20px;
                  font-weight: 700;
                  font-family: Arial, sans-serif;
                  color: #212529;
                  text-align: center;
                "
              ></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#f7f0f0"
                style="
                  font-size: 20px;
                  font-weight: 700;
                  font-family: Arial, sans-serif;
                  color: #212529;
                  text-align: center;
                "
              >
                <p
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    font-family: Arial, sans-serif;
                    color: #212529;
                    text-align: center;
                    margin: 4px;
                  "
                >
                  "오늘 뭐 해 먹지?"에 가입해 주셔서 감사합니다!!
                </p>
                <p
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    font-family: Arial, sans-serif;
                    color: #212529;
                    text-align: center;
                    margin: 4px;
                  "
                >
                  이메일 인증을 하신 후 서비스 이용이 가능합니다. <br />
                </p>
                <p
                  style="
                    font-size: 20px;
                    font-weight: 700;
                    font-family: Arial, sans-serif;
                    color: #212529;
                    text-align: center;
                    margin: 4px;
                  "
                >
                  이메일 인증을 위하여 아래의 버튼을 눌러주세요. <br />
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
            height="30px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#f7f0f0"
                style="
                  font-size: 20px;
                  font-weight: 700;
                  font-family: Arial, sans-serif;
                  color: #212529;
                  text-align: center;
                "
              ></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            bgcolor="#f7f0f0"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#f7f0f0"
                style="
                  font-size: 20px;
                  font-weight: 700;
                  font-family: Arial, sans-serif;
                  color: #212529;
                  text-align: center;
                "
              ></td>
              <td
                bgcolor="#8cba80"
                align="center"
                width="200"
                height="40px"
                style="
                  border: 2px solid #212529;
                  border-radius: 20px;
                  -webkit-text-size-adjust: none;
                "
              >
                <a
                  href="<%= locals.baseURL %>auth/email-verification-page/<%= locals.token %>"
                  target="_blank"
                  style="
                    color: #deefdb;
                    font-family: sans-serif;
                    font-size: 30px;
                    font-weight: 900;
                    text-decoration: none;
                  "
                  ><font color="#deefdb">이메일 인증하기</font></a
                >
              </td>
              <td
                align="center"
                bgcolor="#f7f0f0"
                style="
                  font-size: 20px;
                  font-weight: 700;
                  font-family: Arial, sans-serif;
                  color: #212529;
                  text-align: center;
                "
              ></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
            height="30px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#f7f0f0"
                style="
                  font-size: 20px;
                  font-weight: 700;
                  font-family: Arial, sans-serif;
                  color: #212529;
                  text-align: center;
                "
              ></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
            height="20px"
          >
            <tr>
              <td align="center" bgcolor="#b0d4a7"></td>
            </tr>
          </table>
        </td>
      </tr>
            <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#b0d4a7"
                style="
                  font-size: 10px;
                  font-weight: 500;
                  font-family: Arial, sans-serif;
                  color: #7a7c7d;
                "
              >
                해당 메일은 모바일 환경에 적합하지 않습니다.
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#b0d4a7"
                style="
                  font-size: 10px;
                  font-weight: 500;
                  font-family: Arial, sans-serif;
                  color: #7a7c7d;
                "
              >
                사용자님께서 회원가입한 디바이스에서 해당 이메일을 확인하여
                주세요. (PC로 이용하실 것을 권장합니다.)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#b0d4a7"
                style="
                  font-size: 10px;
                  font-weight: 500;
                  font-family: Arial, sans-serif;
                  color: #7a7c7d;
                "
              >
                if there is an error, please contact here
                "marknamdevelopment@gmail.com"
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#b0d4a7"
                style="
                  font-size: 10px;
                  font-weight: 500;
                  font-family: Arial, sans-serif;
                  color: #7a7c7d;
                "
              >
                |
                <a
                  href="<%= locals.baseURL %>auth/privacy-policy"
                  target="_blank"
                  style="
                    color: #7a7c7d;
                    font-family: sans-serif;
                    font-size: 10px;
                    font-weight: 500;
                    text-decoration: none;
                  "
                  >privacy policy</a
                >
                |
                <a
                  href="<%= locals.baseURL %>auth/terms-of-service"
                  target="_blank"
                  style="
                    color: #7a7c7d;
                    font-family: sans-serif;
                    font-size: 10px;
                    font-weight: 500;
                    text-decoration: none;
                  "
                  >terms of service</a
                >
                |
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
            height="10px"
          >
            <tr>
              <td align="center" bgcolor="#b0d4a7"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#cac7c7">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="700px"
            height="30px"
          >
            <tr>
              <td
                align="center"
                bgcolor="#a1c897"
                style="
                  font-size: 10px;
                  font-weight: 300;
                  font-family: Arial, sans-serif;
                  color: #7a7c7d;
                "
              >
                © 2024 Copyright: Nam Yongho
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
